.goods-catalog {
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 120px;
  }
}

.goods-catalog__list {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}


.goods-catalog__select-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-right: 5px;
}

.goods-catalog__select-wrapper {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    text-align: end;
  }
}

.goods-catalog__select {
  border: none;
  width: 165px;
  height: 32px;
  background-color: transparent;
  color: @color-base-primary;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  text-align: center;
  padding: 1px;

  &:hover,
  &:focus {
    background-color: @color-base-secondary;
    border-radius: 4px;
  }

  &:focus-visible {
    outline: none;
  }
}
