.information__list {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 28px;
  list-style-type: none;
}

.information__wrapper {
  border-bottom: 1px solid @color-base-secondary;
}

.information__copyright {
  padding-top: 20px;
  padding-bottom: 30px;
}

.information__copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-base-grey;
  padding-right: 3px;
}

.information__copyright-wrapper {
  display: flex;
  justify-content: center;
}

.information__copyright-icon {
  color: @color-base-grey;
}

.information__copyright-link:hover .information__copyright-icon,
.information__copyright-link:focus .information__copyright-icon {
  color: @color-base-primary;
}

.information__copyright-link:active .information__copyright-icon {
  color: @color-base-primary-darker;
}
