.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination__list-button-text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: @color-base-primary;
    background-color: transparent;
  }
}

.pagination__list-button:hover .pagination__list-button-text,
.pagination__list-button:focus .pagination__list-button-text,
.pagination__list-button:active .pagination__list-button-text,
.pagination__list-button:disabled .pagination__list-button-text {
  @media (min-width: @tablet-width) {
    color: @color-base-white;
  }

}

.pagination__list-item {
  min-width: 40px;
  max-width: 60px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: @color-base-primary;
  background-color: @color-base-white;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    &--arrow {
      max-width: 120px;
    }
  }

  &--current {
    background-color: transparent;
    font-weight: 600;
    color: @color-main-text;
  }
}

.pagination__list-item:not(:last-child) {
  margin-right: 20px;
}

.pagination__list-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: @color-base-white;
  border-radius: 4px;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 8px 20px;
  }

  &:hover,
  &:focus {
    background-color: @color-base-primary-lighter;
  }

  &:active {
    background-color: @color-base-primary-darker;
  }

  &:disabled {
    background-color: @color-light-grey;
  }
}

.pagination__link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
}

.pagination__list-item--not-current {

  &:hover,
  &:focus {
    background-color: @color-base-primary-lighter;
    color: @color-base-white;
  }

  &:active {
    background-color: @color-base-primary-darker;
    color: @color-base-white;
  }

  &:disabled {
    background-color: @color-light-grey;
    color: @color-base-white;
  }
}

.pagination__list-button-icon {
  color: @color-base-primary;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.pagination__list-button:hover .pagination__list-button-icon,
.pagination__list-button:focus .pagination__list-button-icon,
.pagination__list-button:active .pagination__list-button-icon,
.pagination__list-button:disabled .pagination__list-button-icon {
  color: @color-base-white;
}
