.slider {
  min-width: 320px;
}

.slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider__container {
  position: relative;
}

.slider__button {
  position: absolute;
  width: 40px;
  height: 656px;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 77%;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    z-index: 2;
  }

  &--before {
    left: 0;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, @color-base-white 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background: linear-gradient(90deg, @color-base-primary-opacity 0%, rgba(120, 89, 207, 0) 100%);
    }
  }

  &--next {
    right: 0;

    &:hover,
    &:focus {
      background: linear-gradient(-90deg, @color-base-white 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background: linear-gradient(-90deg, @color-base-primary-opacity 0%, rgba(120, 89, 207, 0) 100%);
    }
  }

  &:disabled {
    background: transparent;
    cursor: auto;
  }
}

.slider__button:disabled .slider__button-icon {
  color: @color-base-grey;
}

.slider__button-icon {
  position: absolute;
  color: @color-base-primary;

  &--before {
    left: 4px;
    top: 318px;

    @media (min-width: @tablet-width) {
      top: 310px;
      margin: 0 auto;
      right: 0;
    }

    @media (min-width: @desktop-width) {
      top: 347px;
      z-index: 2;
    }
  }

  &--next {
    right: 4px;
    top: 318px;

    @media (min-width: @tablet-width) {
      top: 310px;
      margin: 0 auto;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      top: 347px;
      z-index: 2;
    }
  }
}

.slider__pagination-wrapper {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    bottom: 68px;
  }
}

@media (min-width: @desktop-width) {
  .slider__pagination .swiper-pagination-bullet {
    width: 62px;
    height: 4px;
    background-color: @color-base-white;
    margin: 0 8px;
    opacity: 1;
    border-radius: 0;
  }

  .slider__pagination .swiper-pagination-bullet-active {
    background-color: @color-base-primary;
  }
}
